$mobile-min-screen-width: 375px;
$tablet-min-screen-width: 768px;
$desktop-min-screen-width: 1024px;
$content-max-width: 1440px;

$primary-color: #0a92e0;
$secondary-color: #efdb03;
$primary-dark: #35495e;
$secondary-dark: #2b2b33;
$primary-light: #fafafa;
$primary-shadow: rgba(0, 0, 0, 0.25);
$secondary-shadow: rgba(0, 0, 0, 0.1);

$default-font-size: 1.6rem;
$header-height: 6rem;
