// Colors
// $test-green: #55c57a;
$primary-color: #0a92e0;
$secondary-color: #efdb03;
$main-dark: #35495e;
$secondary-dark: #252525;
$main-light: #ffffff;

// Light Theme Colors
$the-text-color: $main-dark;
$the-background-color: $main-light;

// Dark Theme Colors
// $the-text-color: $main-light;
// $the-background-color: $secondary-dark;

// Font
$default-font-size: 1.6rem;
